@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Montserrat:wght@600;800&display=swap');

  * {
  box-sizing: border-box;
  /* border: 1px solid red */
  }
  
  :root {
      --bgC : #0F110C;
      --sideC : #ffffff;
      --instrC : #202020;
      --titleC : #555;
      --bioC : #F9EAE1;
      --designC : #dfeb00;
      --webC : #3F88C5;
      --specialC : #06ba3f;
      --dataC : #9B5094;
      --mobileC : #E94F37;
      --wholeC : #eeeee1;
      --shuffleC : yellow;
      --shuffleTextC : #303030;
  }

  body {
    background-color: var(--bgC);
  }
  
  #satellite {
    animation: rotation 5s infinite linear;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
  }
  
  .side {
    background-color: var(--sideC);
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    padding: 3px;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .instructions p{
    text-align: center;
    font-size: 1.1rem;
    text-align: left;
    padding: 0px 20px;
    font-family: 'Hind Madurai';
  }
  
  #instr {
    color: var(--instrC);
    font-size: 2rem;
    /* font-weight:bold; */
  }
  
  #freeze {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    bottom: 15px;
    font-family: 'Montserrat'
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

  
  .logo{
    margin: 0 auto;
    animation: rotation 5s infinite linear;
  }
  
  .person {
    cursor: pointer;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 18px 10px;
  }
  
  .name {
    font-family: 'Montserrat';
    font-weight: 600;
    padding-top: 1rem;
  }
  
  .card {
    background: var(--sideC);
    padding: 18px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  

  img.avatar {
      height: 3rem;
      width: 3rem;
  }

  .title {
    font-size: 0.7rem;
    color: var(--titleC);
    font-weight: 300;
  }
  
  .bio {
    margin : 8px auto 8px auto;
    background: var(--bioC);
    padding: 18px;
    border-radius: 13px;
    font-family: 'Hind Madurai';
    display: none;
  }
  
  #sorter {
  position: fixed;
  left: 380px;
  right: 25px;
  top: 8px;
  display: inline;
  background: var(--sideC);
  border-radius: 4px;
  z-index: 30;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  padding: 4px;
  line-height: 2.0;
  text-align: center;
  }
  
  .button{
  display: inline;
  padding: 2px 4px;
  margin: 8px 9px;
  border-radius: 4px;
  border: 1px solid var(--bgC);
  cursor: pointer;
  }
  
  .button:hover{
  background: var(--titleC);
  }
  
  .button.active{
  background: var(--bgC);
  color: white;
  }
  
  .design.card {
  border-left:6px solid var(--designC); 
  }
  
  .web.card {
  border-left:6px solid var(--webC);
  }
  
  .special.card {
  border-left:6px solid var(--specialC);
  }
  
  .data.card {
  border-left:6px solid var(--dataC);
  }

  .mobile.card {
    border-left:6px solid var(--mobileC);
    }
  
  #designButton {
  border-left:6px solid var(--designC); 
  }
  
  #webButton {
  border-left:6px solid var(--webC);
  }
  
  #specialButton {
  border-left:6px solid var(--specialC);
  }
  
  #dataButton {
  border-left:6px solid var(--dataC);
  }

  #mobileButton {
      border-left: 6px solid coral;
  }
  
  #whole {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: var(--wholeC);
    padding: 1rem 1rem;
    justify-content: flex-end;
  }
  
  #exc {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  
  .eight {
    opacity: 0.7;
  }
  
  .six {
    opacity: 0.4;
  }
  
  #shuffle {
    padding: 0.8rem;
    width: 60%;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    background: var(--shuffleC);
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 6rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    color: var(--shuffleTextC);
  border-radius: 0.3rem;
  }
  
  #shuffle:active {
    box-shadow: unset;
  }

  #err {
      font-size: 3.7rem;
      position: relative;
      bottom: 8rem;
      text-align: center;
      font-family: 'Montserrat';
  }
  
  @media only screen and (min-width: 895px){
    #memberList{
      position: fixed;
      left: 370px;
       top: 50px;
       /* bottom: 8px; */
      height: 90vh; 
      display: inline-flex;
      flex-flow: row wrap;
      overflow: auto;
      justify-content: center;
      align-items: center;
    }
   }
  
   #memberList {
     position: fixed;
     left: 370px;
      top: 90px;
     height: 83vh; 
     display: inline-flex;
     flex-flow: row wrap;
     overflow: auto;
     justify-content: center;
     align-items: center;
   }
   
a.resume {
    display: block;
    text-decoration: none;
}